<%= provide :title, t("home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info", user: current_user %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <div class="row">
        <div class="col-md-5">
          <%= link_to t("words"), words_path, class: "btn btn-lg btn-primary" %>
        </div>
        <div class="col-md-5">
          <%= link_to t("lessons"), categories_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </aside>
    <aside class="col-md-8">
      <%= render "shared/activities" %>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <h2><%= t "announce" %></h2>
    <%= link_to t("sign_up_now"), new_user_path , class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
