<%= provide :title, t("relationships") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info", user: @user %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <aside class="col-md-8">
    <h1><%= (@action == "following") ? t("following-users") : t("followed-users") %></h1>
    <section class="stats">
      <% if @users %>
        <% @users.each do |user| %>
          <%= render "shared/users", user: user %>
        <% end %>
      <% end %>
    </section>
    <div class="center-parent">
      <div class="center-child">
        <%= will_paginate @users %>
      </div>
    </div>
  </aside>
</div>
