<%= provide title: t("categories") %>
<div class="row">
  <h1><%= t "categories" %></h1>
  <div class="btn-group btn-group-justified form-group">
    <%= link_to t("category_new"), new_admin_category_path, {class: "btn
      btn-primary"} %>
  </div>
  <ul class="categories">
    <%= render @categories %>
  </ul>
  <div class="center-parent">
    <div class="center-child">
      <%= will_paginate @categories %>
    </div>
  </div>
</div>
